.App {
  font-family: sans-serif;
  text-align: center;
}

.todo-list {
  width: 300px;
  height: auto;
  border-color: green;
  border-width: 2px;
  border-style: solid;
  border-top-right-radius: 2%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  text-align: center;
  background-color: #60f69d;
  box-shadow: 1px 2px 10px -1px #60f69d;
  margin: auto;
}

.todo-item {
  color: green;
  display: inline;
}
